Options All -Indexes

ErrorDocument 404 /view/404/index.php
ErrorDocument 403 /view/404/index.php

<IfModule mod_rewrite.c>
 RewriteEngine On
RewriteRule ^cadastro /index.php?cadastro [L]
RewriteRule ^login /index.php?login [L]
RewriteRule ^logando /php/account/logando.php
RewriteRule ^registro /php/account/registro.php
RewriteRule ^verificando /php/account/verificar.php
RewriteRule ^configurando /php/config/config.php
RewriteRule ^logout /php/logout.php
RewriteRule ^changephoto /photochange.php
RewriteRule ^notme /php/notme.php
RewriteRule ^esquecer /php/account/esqueci.php
RewriteRule ^validar /php/account/validar.php
RewriteRule ^novasenha /php/account/novasenha.php
RewriteRule ^changepassword /index.php?changepassword [L]
RewriteRule ^checksession /index.php?checksession [L]
RewriteRule ^verify /php/account/sessao.php
</IfModule>