Options All -Indexes

<IfModule mod_rewrite.c>
 RewriteEngine On
RewriteRule ^cadastro /index.php?cadastro [L]
RewriteRule ^login /index.php?login [L]
RewriteRule ^logando /php/account/logando.php
RewriteRule ^registro /php/account/registro.php
RewriteRule ^logout /php/logout.php
RewriteRule ^ajustes /index.php?ajustes [L]
</IfModule>