Options All -Indexes

ErrorDocument 404 /view/404/index.php
ErrorDocument 403 /view/404/index.php

<IfModule mod_rewrite.c>
 RewriteEngine On
RewriteRule ^cadastro /index.php?cadastro [L]
RewriteRule ^login /index.php?login [L]
RewriteRule ^logando /php/account/logando.php
RewriteRule ^registro /php/account/registro.php
RewriteRule ^verificando /php/account/verificar.php
RewriteRule ^configurando /php/config/config.php
RewriteRule ^logout /php/logout.php
RewriteRule ^changephoto /photochange.php
RewriteRule ^changecover /changep.php
RewriteRule ^notme /php/notme.php
RewriteRule ^esquecer /php/account/esqueci.php
RewriteRule ^validar /php/account/validar.php
RewriteRule ^novasenha /php/account/novasenha.php
RewriteRule ^changepassword /index.php?changepassword [L]
RewriteRule ^checksession /index.php?checksession [L]
RewriteRule ^esqueci /index.php?esqueci [L]
RewriteRule ^verify /php/account/sessao.php
RewriteRule ^profile/(.*)$ /index.php?id=$1&profile=1 [L]
RewriteRule ^publish /php/post/fazer.php
RewriteRule ^newp /php/post/fazerp.php
RewriteRule ^tuturial /php/tuturial/terminar.php
RewriteRule ^create_page /index.php?&createpage=1 [L]
RewriteRule ^loja /index.php?&lojinha=1 [L]
RewriteRule ^buzz /php/statusonline/verificar.php
RewriteRule ^createcommunity /php/comunidade/new.php
RewriteRule ^comunidade/(.*)$ /index.php?id=$1&comunidade=1 [L]
RewriteRule ^toprank /index.php?toprank [L]
RewriteRule ^anime/(.*)$ /index.php?title=$1&anime=1 [L]
</IfModule>