@import url('https://fonts.googleapis.com/css?family=VT323');

*{
	font-family: 'VT323', monospace !important;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

body{
	overflow-y: auto;
	overflow-x: hidden;
}

a{
	color: #476323 !important;
}

html{
	background-color: #eee !important;
}

p, span, h1, h2{
	color: #476323 !important;
}

.busca::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: hsla(0,0%,100%,.6) !important;
    opacity: 1; /* Firefox */
}

.busca:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: hsla(0,0%,100%,.6) !important;
}

.busca::-ms-input-placeholder { /* Microsoft Edge */
    color: hsla(0,0%,100%,.6) !important;
}

.busca:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555 !important;
    opacity: 1; /* Firefox */
}

.busca:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555 !important;
}

.busca:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #555 !important;
}

input{
	outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #555;
}

.pensando::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777 !important;
    opacity: 1; /* Firefox */
}

.pensando:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #777 !important;
}

.pensando::-ms-input-placeholder { /* Microsoft Edge */
    color: #777 !important;
}

.main{
	background: linear-gradient(#18191c, #1d1c1c);
	width: 100%;
	height: 100%;
	position: absolute;
}

.main .logo{
	width: 140px;
	padding: 10px;
	cursor: pointer;
	position: relative;
	left: 20px;
}

.main .header{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 10000;
}

.main .bluebar{
	background-color: transparent;
}

.main .hora{
	position: absolute;
	width: 600px;
	background: transparent;
	height: 200px;
	top: 50%;
	color: #fff;
	text-align: center;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   margin: 0px auto;
    left: 0;
   right: 0;
   transition: 1s;
   border-radius: 20px !important;
}

.main .hora h1{
	color: hsla(0,0%,100%,.8) !important;
	font-weight: 700;
	font-size: 34px;
	transition: 0.3s;
}

.main .hora p{
	color: hsla(0,0%,100%,.8) !important;
	transition: 0.5s;
}

.main .hora h1{
    position: relative;
    left: 0;
}

.main .hora .btn{
	background-color: #476323 !important;
	padding: 10px;
	width: 20%;
	position: relative;
	margin: 0px auto;
	top: 30px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 3px;
	z-index: 1000;
}

.main .hora .login{
	background: #fff !important;
	color: #476323;
}

.main .hora .btn:active{
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.main .back{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/background/back.jpg);
	z-index: 0;
	background-size: cover;
	transition: 0s;
}

.main .back .after{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-90deg, rgba(0,0,0,.50), #212719);
}

.hora .input{
	width: 50%;
	background: hsla(0,0%,100%,.9);
	border: none;
	padding: 10px;
	color: #000;
	border-radius: 20px;
	margin-top: 10px;
	outline: 0;
}

#registro{
	background: #a5da60e0 !important;
	padding: 50px;
	border-radius: 3px;
	height: 400px;
	webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    -webkit-box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
}

#loginte{
	background: #a5da60 !important;
	padding: 50px;
	border-radius: 3px;
	height: 330px;
	webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    -webkit-box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
}

hr{
    border: none;
    width: 95%;
    border-top: 3px solid #efedea;
    margin-bottom: -1px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.02);
    z-index: 2;
    position: relative;
}

.hora .error{
	position: fixed;
	background: #da3636;
	-webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   left: 0;
   top: 10px;
   border-radius: 3px;
   padding: 5px;
   transition: 1s;
}

.headerta{
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	background: #a5da60;
	border-bottom: 1px solid hsla(0,0%,100%,.2);;
	z-index: 100000000;
}

.headerta .logo{
	position: relative;
	width: 60px;
	top: 10px;
	height: 60px;
	cursor: pointer;
}

.headerta .align{
	position: relative;
	margin: 0px auto;
	width: 65%;
}

.headerta .boxcenter{
	display: flex;
  align-items: center;
  justify-content: center;
}

.headerta .boxcenter .busca{
	background: rgba(0,0,0,.13);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    bottom: 35px;
    position: relative;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 40%;
    height: 20px;
    transition: 0.3s;
}

.headerta .boxcenter .busca:focus{
	text-align: left;
	width: 45%;
	background: #fff;
}

.align{
	position: relative;
	margin: 0px auto;
	width: 65%;
}

.flex{
	display: flex;
}

.feed{
 	align-items: flex-start;
 	position: relative;
 	top: 100px;
 	width: 64%;
 	height: auto;
 	padding-bottom: 70px;
}

.status{
 	position: fixed;
 	top: 230px;
 	width: 15%;
 	height: 50px;
  	display: flex;
  	align-items: flex-end;
  	float: right;
  	right: 23%;
  	background: #fff;
  	border: 1px solid #efefef;
  	padding: 5px;
  	z-index: 100000;
}

.status a{
	color: #fff !important;
}

.feed .post{
	width: calc(100% - 90px);
	height: auto;
	background: #fff !important;
	border: 1px solid #efefef;
	margin-top: 10px;
	top: 50px;
	position: relative;
	border-radius: 4px;
	left: 68px;
	padding: 10px;
}

.status .avatar{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	top: 10px;
	position: absolute;
	left: 10px;
}

.status .user{
	position: absolute;
	top: 0px;
	left: 60px;
	font-weight: bold;
	color: #476323 !important;
}

.boxleft{
	position: absolute;
	float: right;
	right: 0;
}

.boxleft .avatar{
	width: 40px;
	height: 40px;
	background: #fff;
	position: relative;
	top: 40px;
	border-radius: 10%;
}

.boxleft .user{
	position: relative;
	top: 20px;
}

.boxleft .okaysr:active{
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.boxleft .okaysr{
	position: relative;
	bottom: 105px;
	height: 90px;
	border-radius: 20px;
	cursor: pointer;
}

.boxleft .okaysr a{
	color: #fff;
}

.notice{
	width: 100%;
	height: 40px;
	background: #a5da60 !important;
	border-radius: 4px;
	margin-top: 20px;
	top: 20px;
	position: relative;
}

.notice p{
	text-align: left;
	padding: 7px;
	color: #fff !important;
}

.menuoptionsfeed{
	width: 44.8%;
	height: 40px;
	background: #a5da60 !important;
	position: fixed;
	z-index: 1000000;
	top: 75px;
}

.menuoptionsfeed a{
	text-align: center;
	color: #fff;
	padding: 11px;
	top: 8px;
	position: relative;
	border-right: 0px solid #fff;
	left: 0px;
	text-transform: uppercase;
}

.menuoptionsfeed a:hover{
	color: #fff;
	text-decoration: none;
	background: #5b73c7;
}

.logout{
	width: 90%;
	padding: 5px;
	background: #a5da60 !important;
	color: #fff;
	text-align: center;
	position: relative;
	left: 5px;
}

.logout:hover{
	color: #fff;
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
    text-decoration: none;
}

#loginte .avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	right: 40px;
}

#sugeridos{
	position: relative;
	top: 80px;
	background: #fff;
	padding: 10px;
	border-radius: 3px;
	margin-top: 20px;
}

#sugeridos span{
	padding: 5px;
	color: #444 !important;
	font-size: 19px;
	position: relative;
	bottom: 5px;
}

#sugeridos .haha{
	background: rgba(0,0,0,.80);
}

#sugeridos img{
	width: 100px;
	height: 100px;
	border-radius: 0px;
	border-radius: 50%;
}

#sugeridos li{
	width: 100px !important;
	height: 100px !important;
}

#sugeridos .ok{
	width: 100px !important;
	height: 100px !important;
	margin-left: 5px;
}

.saudacao{
	position: relative;
	top: 50px;
	width: 100%;
}

.configusa h1{
	font-size: 22px;
}

.configusa p{
	font-size: 17px;
}

.configusa .change:hover{
	background: rgba(0,0,0,.50);
	transition: 0.9s;
}

.configusa .avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
}

.configusa input{
	width: 50%;
	background: hsla(0,0%,100%,.9);
	border: none;
	padding: 10px;
	color: #000;
	border-radius: 20px;
	margin-top: 10px;
	outline: 0;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
}

.configusa .btn{
	background-color: #a5da60 !important;
	padding: 10px;
	width: 20%;
	position: relative;
	margin: 0px auto;
	top: 0px;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.configusa .btn:hover{
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.progress{
	width: 100%;
	height: 30px;
	background: #eee;
	position: relative;
	top: 10px;
	border-radius: 20px;
	border: 1px solid #f2f2f2;
}

.subprogress{
	height: 100%;
	background: #a5da60 !important;
	transition: 0.5s;
	border-radius: 20px;
	width: 0%;
}

.configusa .error{
	background: #a5da60 !important;
	color: #fff;
	padding: 5px;
	top: 10px;
	position: relative;
}

.postar{
	width: calc(100% - 100px);
	background: #fff;
	height: auto;
	top: 0px;
	position: absolute;
	border-radius: 3px;
	float: left;
	left: 100px;
	z-index: 1000;
	box-shadow: 1px 1px 1px rgba(0,0,0,.40);
}

.postaaa .avatar{
	width: 90px;
	height: 90px;
	border-radius: 3px;
}

.postaaa .avatar img{
	height: 75px;
	width: 75px;
	position: relative;
	left: 10px;
	transform: scale(0.9);
	border-radius: 3px;
	cursor: pointer;
}

.postar .tipo{
	width: 80px;
	height: 70px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 10px;
	left: 20px;
}

.postar .tipo:hover{
	-webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.postar .tipo h1{
	color: #476323 !important;
	padding: 0px;
	font-size: 2.5em;
	left: 15px;
	position: relative;
}

.postar .tipo p{
	color: #476323 !important;
	position: relative;
	top: -30px;
	left: 20px;
	font-size: 1.0em;
}

.postar .tipo img{
	width: 45px;
}

.postar .tipos{
	display: block;
	position: relative;
	top: -10px;
}

.postar .texto{
	display: none;
	transition: 0.4s;
}

.postar .texto p{
	color: #565656 !important;
	padding: 10px;
}

.postar .texto input{
	border: none;
	position: relative;
	bottom: 30px;
	left: 0px;
	font-size: 1.4em;
	color: #565656;
	width: 100%;
	background: transparent;
}

.postar .texto textarea{
	border: none;
	position: relative;
	bottom: 20px;
	left: 0px;
	font-size: 1.4em;
	color: #565656;
	resize: none;
	width: 100%;
	font-size: 1em;
	outline: none;
	height: 30px;
	background: transparent;
}

.oksrs{
	position: relative;
	top: 60px;
}

.postar .texto .width{
	width: 90%;
	position: relative;
	left: 20px;
	top: 10px;
	height: 100px;
}

.postar .texto .width .fazer{
	border: none;
	position: relative;
	bottom: 10px;
	border-color: #a5da60;
    background-color: #a5da60;
    color: hsla(0,0%,100%,.9);
    cursor: pointer;
    padding: 8px;
    float: right;
    right: 10px;
    margin-left: 5px;
}

.profile_{
	width: 100%;
	height: 200px;
	position: relative;
	top: -20px;
}

.profile_ .avatar{
	width: 100px;
	height: 100px;
	position: relative;
	top: 80px;
	left: 20px;
	box-shadow: 2px 3px 4px rgba(0,0,0,.50);
	background: #2e3d52 !important;
	transform: scale(1.1);
	border-radius: 10%;
}

.profile_ .avatar img{
	height: 100%;
	width: 100%;
	border-radius: 10%;
}

.profile_ .cover{
	width: 100%;
	height: 100%;
	background-image: url("/assets/img/background/pixel6.gif");
	position: relative;
	background-size: cover;
}

.myrank{
	position: relative;
	top: 0px;
	z-index: 100;
    background: #a5da60 !important;
 	width: auto;
 	border-radius: 10px;
 	left: 20px;
}

.myrank span{
	position: relative;
	left: 10px;
	color: #fff !important;
}

.okaysr a:hover{
	text-decoration: none !important;
}

.rightup{
	position: fixed;
	float: right;
	width: 150px;
	right: 0;
	height: 100%;
	background: #a5da60 !important;
	border-left: 1px solid hsla(0,0%,100%,.2) ;
	display: none;
}

.vcup{
	width: 100%;
    position: relative;
    top: 0px;
    transition: 1s;
}

.rightup .after{
	position: relative;
	top: 75px;
}

.rightup .after p{
	position: relative;
	left: 5px;
}

.profile_ .left_info{
	position: relative;
	width: 35%;
	height: auto;
	background: #fff !important;
	top: 10px;
	border-radius: 3px;
}

.profile_ .left_info h1{
	color: #476323 !important;
}

.profile_ .left_info p{
	color: #476323 !important;
}

.profile_ .right_info{
	width: 60%;
	height: 100%;
	float: right;
	position: absolute;
	top: 290px;
	border-radius: 3px;
	display: flex;
	right: 10px;
}

.profile_ .left_info h1{
	font-size: 1em !important;
	padding: 10px;
}

.profile_ .left_info p{
	position: relative;
	top: 0px;
	padding: 10px;
	margin-top: -30px;
}

.profile_ .tab{
	width: 100%;
	height: 50px;
	background: #a5da60;
}

.hora .svg{
	-webkit-transition: all .5s ease;
    bottom: 10px;
    transition: all .5s ease;
}

.hora a{
	color: #fff !important;
}

.animation{
	webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: landing;
    -webkit-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: landing;
    animation-timing-function: ease-in-out;
}

.hora .coin1{
	top: 140px;
	left: 0px;
}

.hora .coin2{
	top: 190px;
	left: 500px;
}

.hora .control{
	position: absolute;
	top: 240px;
	left: 230px;
}

.hora .bomb{
	position: absolute;
	top: 170px;
	left: 100px;
}

@keyframes landing{
	0%{
		-webkit-transform:translate3d(0,-4px,0);
		transform:translate3d(0,-4px,0)
		}
		to{
			-webkit-transform:translate3d(0,4px,0);
			transform:translate3d(0,4px,0)
		}
}

.tag{
	position: relative;
	width: 200px !important;
	height: 40px;
	background-size: cover;
	left: 0px;
	top: 3px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.50);
	transform: scale(0.8);
	cursor: pointer;
	transition: 0.5s;
	float: left;
	margin-left: 0px;
	border-radius: 3px;
}

#slidertag a{
	color: #fff !important;
	background: rgba(0,0,0,.50);
}

.tag p{
	color: #fff !important;
	position: relative;
	text-align: center;
	top: 8px;
	font-size: 18px;
	text-shadow: 2px 1px 2px rgba(0,0,0,.50);
	text-transform: uppercase;
}

.tag:hover{
	box-shadow: 4px 5px 5px rgba(0,0,0,.50);
	transform: scale(0.85);
}

#slidertag{
	position: relative;
	left: 0;
}

#slidetag .haha{
	background: rgba(0,0,0,.80);
}

#slidertag li{
	width: 170px !important;
	height: 40px;
}

.links{
	position: fixed;
 	top: 100px;
 	width: 15%;
 	height: auto;
  	float: right;
  	right: 23%;
  	background: #fff;
  	border: 1px solid #efefef;
  	padding: 5px;
  	z-index: 100000;
}

.links p{
	top: 0px;
	position: relative;
}

.links a{
	text-align: center;
	position: relative;
	text-transform: uppercase;
	color: #476323 !important;
	top: -20px;
	left: 0px;
	width: 100%;
}

.newcomunidade p{
	color: #fff !important;
}

.newcomunidade h1{
	color: #fff !important;
}

.newcomunidade input{
	border: none;
	padding: 8px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	width: 300px;
}

.newcomunidade button{
	border: none;
	background: #a5da60 !important;
	color: #fff;
	padding: 10px;
	font-size: 1em;
	cursor: pointer;
}

.produtos h1{
	font-size: 1.7em;
}

.produtos h2{
	font-size: 1.7em;
}

.produtos .items{
	width: 200px;
	height: 40px;
	background: #a5da60;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.produtos .items p{
	padding: 8px;
	color: #fff !important;
}



.produtos #abe{
	font-size: 1.3em;
	margin-top: -20px;
	top: 10px;
	position: relative;
}

.produto_a{
	width: 200px;
	height: 40px;
	background: #a5da60;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.produto_a #valor{
	position: relative;
	text-align: center;
	background: rgba(0,0,0,.50);
	color: #fff !important;
	height: 100%;
}

.bottomh{
	position: fixed;
	bottom: 0;
	background: #a5da60;
	height: 40px;
	width: 100%;
	z-index: 100000000000;
}

.bottomh .profile{
	width: auto;
	float: right;
	height: 40px;
	position: absolute;
	right: 0;
	background: #8ebb54;
	padding-right: 100px;
}

.bottomh .profile .avatar{
	width: 40px;
	height: 40px;
	background: #fff;
	position: absolute;
	float: right;
	right: 0px;
	background-size: contain;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
}

.bottomh .profile p{
	float: left;
	position: relative;
	top: -15px;
	left: 10px;
	color: #fff !important;
	font-size: 1.3em;
}

.bottomh .profile a{
	color: #eee !important;
}

.online{
	width: 15px;
	height: 15px;
	background: #fff;
	position: absolute;
	float: right;
	right: 0;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.50);
	border-radius: 50%;
	top: -5px;
}

.verificar{
	border-radius: 50%;
}

.comunidade{
	width: 100%;
	position: relative;
	top: -40px;
}

.comunidade .left-info{
	width: 20%;
	height: 400px;
	background: #fff;
	box-shadow: 1px 2px 3px rgba(0,0,0,.50);
	top: 60px;
	position: absolute;
	padding: 10px;
}

.comunidade .left-info .avatar{
	width: 100%;
	height: 200px;
	position: relative;
	left: 5px;
	background: #fff;
}

.comunidade .left-info .avata img{
	width: 100%;
	height: 100%;
}

.comunidade .left-info h2{
	position: relative;
	top: -35px;
	text-align: center;
	word-wrap: break-word;
}

.comunidade .center{
	width: 74%;
	float: right;
	right: 0;
	height: 400px;
	background: #fff;
	top: 20px;
	position: relative;
	box-shadow: 1px 2px 3px rgba(0,0,0,.50);
}

.menu{
	position: absolute;
	width: 150px;
	height: auto;
	background: #a5da60;
	top: 90px;
	right: -40px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.50);
	padding-bottom: 40px;
	display: none;
}

.menu a{
	color: #fff !important;
	text-align: center;
	position: relative;
	top: 25px;
	width: 100%;
}

.menu a:hover{
	color: #476323 !important;
	background: #fff;
}

.menu p{
	position: absolute;
	left: 5px;
}

.toprank li{
	background: #a5da60;
	list-style: none;
	padding: 5px;
	margin-top: 10px;
	transition: 1s;
	cursor: pointer;
}

.toprank li:hover{
	color: #a5da60 !important;
	background: #fff;
	box-shadow: 1px 2px 1px rgba(0,0,0,.50);
}

.toprank .cool img{
	width: 45px;
	padding: 2px;
	position: relative;
	top: 10px;
}

.toprank .cool span{
	position: relative;
	left: 20px;
	top: 15px;
	font-size: 22px;
}

.changephoto{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.50);
	border-radius: 10%;
	opacity: 0;
	transition: 1s;
	cursor: pointer;
}

.changephoto:hover{
	opacity: 1;
}

.changephoto span{
	color: #fff !important;
	position: relative;
	left: 40px;
	top: 20px;
	cursor: pointer;
	transition: 1s;
	transform: scale(1.2);
}

.changephoto span:hover{
	transform: scale(1.3);
}

.changecover{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.50);
	opacity: 0;
	transition: 1s;
	cursor: pointer;
}

.changecover:hover{
	opacity: 1;
}

.changecover span{
	color: #fff !important;
	position: relative;
	left: 20px;
	top: 10px;
	cursor: pointer;
	transition: 1s;
	transform: scale(1.2);
}

.changecover span:hover{
	transform: scale(1.3);
}