*{
	font-family: 'Ubuntu', sans-serif !important;
}

body{
	overflow-y: auto;
	overflow-x: hidden;
}

html{
	background-color: #fafafa !important;
}

input{
	outline: 0;
}

.main{
	background: linear-gradient(#18191c, #1d1c1c);
	width: 100%;
	height: 100%;
	position: absolute;
}

.main .logo{
	width: 140px;
	padding: 10px;
	cursor: pointer;
	position: relative;
	left: 20px;
}

.main .header{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 10000;
}

.main .bluebar{
	background-color: transparent;
}

.main .hora{
	position: absolute;
	width: 600px;
	background: transparent;
	height: 200px;
	top: 50%;
	color: #fff;
	text-align: center;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   margin: 0px auto;
    left: 0;
   right: 0;
   transition: 1s;
}

.main .hora h1{
	color: #fff;
	font-weight: 700;
	font-size: 34px;
	transition: 0.3s;
}

.main .hora p{
	color: hsla(0,0%,100%,.9);
	transition: 0.5s;
}

.main .hora h1{
    position: relative;
    left: 0;
}

.main .hora .btn{
	background-color: #7289da;
	padding: 10px;
	width: 20%;
	position: relative;
	margin: 0px auto;
	top: 30px;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
	border-radius: 3px;
}

.main .hora .login{
	background: #fff;
	color: #000;
}

.main .hora .btn:active{
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.main .back{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/back.jpg);
	z-index: 0;
	background-size: cover;
	transition: 0s;
}

.main #two{
	background-image: url("/assets/img/back2.jpg") !important;
}

.main #thirt{
	background-image: url("/assets/img/back_old.jpg") !important;
}

.main #back4{
	background-image: url("/assets/img/back4.png") !important;
}

.main .back .after{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.30)
}

.hora .input{
	width: 50%;
	background: hsla(0,0%,100%,.9);
	border: none;
	padding: 10px;
	color: #000;
	border-radius: 20px;
	margin-top: 10px;
	outline: 0;
}

#registro{
	background: #36393f;
	padding: 50px;
	border-radius: 3px;
	height: 400px;
	webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    -webkit-box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
}

#loginte{
	background: #36393f;
	padding: 50px;
	border-radius: 3px;
	height: 330px;
	webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    -webkit-box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
}

hr{
      border: none;
    width: 95%;
    border-top: 3px solid #efedea;
    margin-bottom: -1px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.02);
    z-index: 2;
    position: relative;
}

.hora .error{
	position: fixed;
	top: 0;
	background: #da3636;
	-webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   left: 0;
   top: 0;
   border-radius: 3px;
   padding: 5px;
   transition: 1s;
}

.headerta{
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	background: #7289da;
	border-bottom: 1px solid rgba(0,0,0,.0975);
	z-index: 100000;
}

.headerta .logo{
	position: relative;
	width: 60px;
	top: 10px;
	height: 60px;
	cursor: pointer;
}

.headerta .align{
	position: relative;
	margin: 0px auto;
	width: 70%;
}

.headerta .boxcenter{
	display: flex;
  align-items: center;
  justify-content: center;
}

.headerta .boxcenter .busca{
	background: #fafafa;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    bottom: 35px;
    position: relative;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    transition: 0.5s;
}

.headerta .boxcenter .busca:focus{
	width: 300px;
	text-align: left;
	transition: 1s;
}

.align{
	position: relative;
	margin: 0px auto;
	width: 70%;
}

.flex{
	display: flex;
}

.feed{
 	align-items: flex-start;
 	position: relative;
 	top: 100px;
 	width: 64%;
 	height: auto;
}

.status{
 	position: fixed;
 	top: 85px;
 	width: 15%;
 	height: 100px;
  	display: flex;
  	align-items: flex-end;
  	float: right;
  	right: 22%;
  	background: #fff;
  	border: 1px solid #efefef;
  	padding: 5px;
}

.feed .post{
	width: 100%;
	height: 200px;
	background: #fff;
	border: 1px solid #efefef;
	margin-top: 10px;
	top: 50px;
	position: relative;
}

.status .avatar{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	top: 10px;
	position: absolute;
	left: 10px;
}

.status .user{
	position: absolute;
	top: 0px;
	left: 60px;
	font-weight: bold;
}

.boxleft{
	position: absolute;
	float: right;
	right: 0;
}

.boxleft .avatar{
	width: 40px;
	height: 40px;
	background: #fff;
	position: relative;
	top: 40px;
	border-radius: 10%;
}

.boxleft .user{
	position: relative;
	top: 20px;
}

.boxleft .okaysr:active{
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.boxleft .okaysr{
	background: #677cca;
	padding: 20px;
	position: relative;
	bottom: 105px;
	height: 100px;
	border-radius: 20px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	cursor: pointer;
}

.boxleft .okaysr a{
	color: #fff;
}

.notice{
	width: 100%;
	height: 40px;
	background: #677cca;
	border-radius: 4px;
	margin-top: 20px;
	top: 40px;
	position: relative;
}

.notice p{
	text-align: center;
	color: #fff;
	padding: 7px;
}

.menuoptionsfeed{
	width: 44.8%;
	height: 40px;
	background: #7289da;
	position: fixed;
	z-index: 1000000;
	top: 75px;
}

.menuoptionsfeed a{
	text-align: center;
	color: #fff;
	padding: 11px;
	top: 8px;
	position: relative;
	border-right: 0px solid #fff;
	left: 0px;
	text-transform: uppercase;
}

.menuoptionsfeed a:hover{
	color: #fff;
	text-decoration: none;
	background: #5b73c7;
}

.logout{
	width: 90%;
	padding: 5px;
	background: #7289da;
	color: #fff;
	text-align: center;
	position: relative;
	left: 5px;
}

.logout:hover{
	color: #fff;
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
    text-decoration: none;
}

#loginte .avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	right: 40px;
}

#sugeridos{
	position: relative;
	top: 50px;
	color: #737070;
}

#sugeridos span{
	padding: 5px;
	font-size: 19px;
}

#sugeridos .haha{
	background: rgba(0,0,0,.80);
}

#sugeridos img{
	width: 100px;
	height: 100px;
	border-radius: 0px;
	border-radius: 50%;
}

#sugeridos li{
	width: 100px !important;
	height: 100px !important;
}

#sugeridos .ok{
	width: 100px !important;
	height: 100px !important;
	margin-left: 5px;
}

.saudacao{
	position: relative;
	top: 50px;
	width: 100%;
}

.configusa h1{
	font-size: 22px;
}

.configusa p{
	font-size: 17px;
}

.configusa .change:hover{
	background: rgba(0,0,0,.50);
	transition: 0.9s;
}

.configusa .avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
}

.configusa input{
	width: 50%;
	background: hsla(0,0%,100%,.9);
	border: none;
	padding: 10px;
	color: #000;
	border-radius: 20px;
	margin-top: 10px;
	outline: 0;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
}

.configusa .btn{
	background-color: #7289da;
	padding: 10px;
	width: 20%;
	position: relative;
	margin: 0px auto;
	top: 0px;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.configusa .btn:hover{
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.progress{
	width: 100%;
	height: 30px;
	background: #eee;
	position: relative;
	top: 10px;
	border-radius: 20px;
}

.subprogress{
	height: 100%;
	background: #7289da;
	transition: 0.5s;
	border-radius: 20px;
	width: 0%;
}

.configusa .error{
	background: #7289da;
	color: #fff;
	padding: 5px;
	top: 10px;
	position: relative;
}